{% extends 'index.html' %}

{% block contend %}
<form type="get" action="" >
    <input  id="search_box" type="text" name="search_box"  placeholder="Поиск..." >
    <button id="search_submit" type="submit" >Поиск</button>
</form>
<div class="container-fluid ">
{%for i in queryset%}
    <div class="col-md-3">
        <a href="http://localhost:8000/files/file/{{i.pk}}">
            <img src="{{i.cover.url}}" alt="" width="200px" height="200px">
            <p>{{i.title}}</p>
            <p>{{i.category}}</p>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}


